/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/*Variables*/
:root {
  --Sidebar-Color: #d8e4e5;
  --Logo-And-ButtonsText-Color: white;
  --Content-Blue: #1992d4;

  /*Sizes*/
  --Rounded-Corners: 8px;
}
* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100vh;
  margin-left: 10px;
}
#submitCity {
  height: 100%;
  border-radius: var(--Rounded-Corners);
  padding: 3px;
  border: 1px solid gray;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#submitCity:hover,
#submitCity:focus-visible {
  border-style: ridge;
  border-color: var(--Content-Blue);
  transform: translateY(-3px);
}
#weatherDisplayContainer {
  margin-top: 20px;
}
#cityForm {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}
#cityName {
  height: 100%;
  border-radius: var(--Rounded-Corners);
  border: 1px solid gray;
  padding-left: 5px;
}
/* The switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-right: 10px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider track */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px; /* Makes it rounded */
  transition: 0.4s;
}

/* The slider knob */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  border-radius: 50%; /* Makes it circular */
  transition: 0.4s;
}
/* Styles when the checkbox is checked (toggle is "on") */
input:checked + .slider {
  background-color: #2196f3; /* Change background color */
}

input:checked + .slider:before {
  transform: translateX(26px); /* Move the knob */
}
.modeLabel {
  margin-left: 1px;
  left: 10px;
  font-size: 12px;
}
#toggleUnit {
  display: flex;
  flex-direction: column;
}
#spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ff7f00; /* your accent color */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: none; /* start hidden */
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
